<div class="col-2"><button class="btn btn-secondary" (click)="this.location.back()">{{"common.back"|translate}}</button>
</div>
<div class="row container-fluid justify-content-center">
  <div class="row col-5 g-3">
    <h3>Hologram Detail</h3>
    <div class="row-cols-auto">
      <div class="col-md-3">
        <label for="idField" class="form-label">Id</label>
        <input disabled type="text" class="form-control" id="idField" [(ngModel)]="hologram.id">
      </div>
    </div>
    <div class="col-md-9">
      <label for="inputName" class="form-label">{{"common.name"|translate}}</label>
      <input type="text" class="form-control" id="inputName" placeholder="" [(ngModel)]="hologram.name">
    </div>
    <div class="col-md-3">
      <label for="inputWeight" class="form-label">{{"common.weight"|translate}}</label>
      <input type="text" class="form-control" id="inputWeight" placeholder="" [(ngModel)]="hologram.weight">
    </div>
    <div class="col-md-9">
      <label for="inputSuperpower" class="form-label">{{"common.superpower"|translate}}</label>
      <input type="text" class="form-control" id="inputSuperpower" placeholder="" [(ngModel)]="hologram.superpower">
    </div>
    <div class="col-md-3">
      <label for="inputExtinct" class="form-label">{{"common.extinct_since"|translate}}</label>
      <input type="text" class="form-control" id="inputExtinct" [(ngModel)]="hologram.extinct_since">
    </div>
    <div class="col-md-12">
      <label for="inputTrivia" class="form-label">{{"common.trivia"|translate}}</label>
      <textarea type="textfield" class="form-control" id="inputTrivia" placeholder=""
        [(value)]="hologram.trivia"></textarea>
    </div>

    <div class="col-12">
      <button (click)="submitHologram()" class="btn btn-primary">{{"common.submit"|translate}}</button>
      <button (click)="deleteHologram()" class="btn btn-primary">{{"common.delete"|translate}}</button>
    </div>
  </div>

</div>