.app{
  font-family: Arial, Helvetica, sans-serif;
  
  flex-direction: column;
  height: calc(100% - 56px);
  margin: 0;
  color: #e6e6e8;
  // display: flex;
  background-color: #24233d;
}

.main{  
  min-height: calc(100vh - 2*56px); 
  height: auto; /*Cause footer to stick to bottom in IE 6*/
  margin-top: 56px; /*Cause footer to stick to bottom in IE 6*/
  // height: 95%; 
  // display: grid;
  // vertical-align:bottom;
  
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  // overflow:auto;  
  // background-color: #24233d;

  text-align: center; //horizontal
  // align-content: center; //vertical
  z-index: 0;
}

.content{
  padding: 50px 50px 50px 50px;
  
}