
<div class="app">
  <app-nav></app-nav>
  <main class="main">
    <div class="content">
      <router-outlet></router-outlet>
      <app-chat> </app-chat>
    </div>
  </main>
  <app-footer class="footer"></app-footer>
</div>