<nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Virtual-Zoo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/holograms" routerLinkActive="active">{{'common.holograms' | translate}}</a>
      </div>
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons-outlined">flag</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li *ngFor="let lang of languages"><a class="dropdown-item" (click)="languageChangeHandler(lang)">{{'common.'+lang | translate}}</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>