<div class="chat-window card shadow-sm" [class.minimized]="isMinimized">
  <div class="chat-header card-header d-flex justify-content-between align-items-center" (click)="toggleMinimize()">
    <span>Chat</span>
    <span class="toggle-button">{{ isMinimized ? '▲' : '▼' }}</span>
  </div>
  <div class="chat-body card-body" *ngIf="!isMinimized">
    <div class="messages mb-2">
      <div *ngFor="let message of messages" class="message p-2 mb-1 border rounded">{{ message }}</div>
    </div>
    <div class="row">
      <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" class="form-control col-sm" placeholder="Type your message...">
      <button (click)="sendMessage()" class="btn btn-primary col-sm-3">{{'common.send' | translate}}</button>
    </div>
  </div>
</div>