.chat-window {
  position: fixed;
  bottom: 56px;
  right: 0;
  width: 100%;
  max-width: 350px;
  max-height: 500px;
  border-radius: 12px 12px 6px 6px;
  display: flex;
  flex-direction: column;
  transition: max-height 0.3s ease-in-out;
  overflow: y;
  z-index: 1050;
}

.chat-header {
  cursor: pointer;
}

.chat-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.minimized {
  max-height: 40px;
}

.toggle-button {
  cursor: pointer;
}

@media (max-width: 576px) {
  .chat-window {
    width: 100%;
    bottom: 104px;
    right: 0;
  }
}