

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  g-2">
  
  <div class="col" *ngFor="let item of cards, index as i">
    <div class="card" (click)="selectItem(i)">
      <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.text }}</p>
      </div>
    </div>
  </div>
  
</div>