<div class="row">
  <mat-form-field class="col-sm">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <div class="col-sm-auto"><button class="btn btn-primary" (click)="resetTable()">{{"common.reset"|translate}}</button>
  </div>
</div>

<div class="row">
  <div class="table-responsive col-sm">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-hover">

      <div *ngFor="let item of displayedColumns|slice:0:-1, index as i">
        <ng-container matColumnDef={{item}}>
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            <h5>{{"common."+item|translate}}</h5>
          </th>
          <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
        </ng-container>
      </div>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
          <span class="material-icons-outlined " type="button" routerLink="/holograms/new">add</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="material-icons-outlined" type="button" routerLink="/holograms/{{element.id}}">edit</span>
          <span class="material-icons-outlined" type="button" (click)="deleteHologram(element.id)">delete</span>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
  </div>
</div>