// .mat-mdc-row:nth-child(even){
//   background-color: rgb(255, 255, 255);
// }
      
// .mat-mdc-row:nth-child(odd){
//   background-color: rgb(213, 224, 251);
// }

:host ::ng-deep .mat-sort-header-container {
  // display: flex;
  justify-content: center;
}

.table-responsive {
  display: flex;
  flex-direction: column;
  overflow-x: auto !important;
}

.mat-table {
  flex: 1;
  width: 100%;
}

@media (max-width: 576px) {
  .table-responsive {
    display: block;
    max-width: 576px !important;
  }

  .mat-header-cell, .mat-cell {
    width: 100%;
    display: block;
    min-width: 150px; /* Adjust as necessary */
  }
}
