.content{
  background-color: #050416;
  // height: 50px;
  padding: 16px;
  // width: 100%;
}

.content>.container-fluid{
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // height: 100%;
  
}

.row{
  // height: 100%;
  // display: flex;
  // align-items: center;
}



