<div class="content">
  <!-- <div class="container-fluid text-center"> -->
    <div class="row text-center">
      <div class="col-sm">
        <a class="">Copyright</a>
      </div>
      <div class="col-sm">
        <a class="">Impressum</a>
      </div>
      <div class="col-sm">
        <a class="">Contact</a>
      </div>
    </div>
</div>